<h2><%= @user.first_name %>'s Profile</h2>

<%= image_tag @user.large_image_url %>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p>Username: <%= @user.username %></p>
<p>Member Since: <%= @user.created_at.to_formatted_s :long %></p>

<% if @user.id == current_user.id %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <%= link_to 'Delete Account', user_path(@user), method: :delete %>
<% end %>
