<% if @gift.user.id != session[:current_user] %>
  <%= image_tag @gift.user.small_image_url %>
  <p><%= link_to @gift.user.first_name, user_path(@gift.user) %> would love to recieve this for:</p>
  <p><%= @gift.event.title %></p>
  <p>Event Date: <%= @gift.event.fdate %></p>
<% end %>

<h2><%= @gift.name %></h2>

<%= image_tag @gift.large_image_url %>

<p><%= @gift.category %></p>

<% unless @gift.price == 0 %>
  <p>$<%= @gift.price.to_s.insert(-3,'.') %></p>
<% end %>

<p><%= @gift.specifics %></p>

<% if @gift.user.id == session[:current_user] %>
  <%= link_to 'Edit', edit_gift_path(@gift) %>
  <%= link_to 'Delete', gift_path(@gift), method: :delete %>
<% elsif @gift.user.friend?(current_user) %>
  <%= render partial: 'buygiftoptions', locals: {gift: @gift} %>
<% end %>

<%= link_to 'View on Amazon.com', @gift.amazon_url, target: '_blank' %>
