<!DOCTYPE html>
<html>
<head>
  <title>Giftr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Giftr', root_path %>
  <% if session[:current_user] %>
    <%= link_to 'Profile', user_path(current_user) %>
    <%= link_to 'Friends', user_friends_path(current_user) %>
    <%= link_to 'Logout', logout_path %>
    <hr>
  <% end %>


<%= yield %>

</body>
</html>
